<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyingzone.com">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlyingZone">
        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7106981806500353~6794132463"/>
       <!-- <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7106981806500353~4288222773"/>-->
        <activity android:name=".FillDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".CustomerDetailsctivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ContactDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".RegistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".SearchWithEmailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ListOfCustomerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <receiver android:name = "MyReceiver">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>